<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sistemapdm2">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MarcasActivity"           android:exported="false"/>
        <activity android:name=".activities.VehiculosActivity"        android:exported="false"/>
        <activity android:name=".activities.BuscarVehiculoActivity"   android:exported="false"/>
        <activity android:name=".activities.InsertarVehiculoActivity" android:exported="false"/>
        <activity android:name=".activities.ReparacionesActivity"     android:exported="false"/>
        <activity android:name=".activities.InsertarReparacionActivity" android:exported="false"/>
        <activity android:name=".activities.ActualizarReparacionActivity" android:exported="false"/>
        <activity android:name=".activities.TalleresActivity" android:exported="false"/>
        <activity android:name=".activities.VentasActivity"           android:exported="false"/>
        <activity android:name=".activities.InsertarVentaActivity"    android:exported="false"/>
        <activity android:name=".activities.EstadisticasActivity"     android:exported="false"/>
        <activity android:name=".activities.HistorialMovimientosActivity"      android:exported="false"/>
        <activity android:name=".activities.InsertarMovimientoActivity"        android:exported="false"/>
        <activity android:name=".activities.ReporteTransportePersonalActivity" android:exported="false"/>
        <activity android:name=".activities.DesperfectosActivity"     android:exported="false"/>
        <activity android:name=".activities.InsertarDesperfectoActivity" android:exported="false"/>
        <activity android:name=".activities.BodegasActivity"               android:exported="false"/>
        <activity android:name=".activities.SeccionesActivity"             android:exported="false"/>
        <activity android:name=".activities.SeccionesDisponiblesActivity"  android:exported="false"/>
        <activity android:name=".activities.VentasPorImportadorActivity"   android:exported="false"/>

        <!-- Gaby — Importador, Importaciones, Análisis -->
        <activity android:name=".activities.BuscarImportadorActivity"       android:exported="false"/>
        <activity android:name=".activities.DetalleImportadorActivity"      android:exported="false"/>
        <activity android:name=".activities.ImportacionesCompletasActivity" android:exported="false"/>
        <activity android:name=".activities.AnalisisVehiculosActivity"      android:exported="false"/>

    </application>

</manifest>